<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/main.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.touchSwipe.min.js"></script>
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <div class="container">

    <!-- Error Modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="error-modal-label">Error</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Connection Settings Modal -->
    <div class="modal fade" id="connection-settings-modal" tabindex="-1" role="dialog" aria-labelledby="network-settings-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="network-settings-modal-label"><i class="fa fa-wifi"></i> Network Settings</h4>
          </div>
          <div class="modal-body">
            {% if local_ips|length > 1 %}
              At your smartphone execute a web browser and open one of the following urls:
            {% else %}
              At your smartphone execute a web browser and open the following url:
            {% endif %}
            <br/>
            <br/>
            {% for ip in local_ips %}
              <div class="network-iface">
               <p> <i class="fa fa-bolt"></i>  http://{{ ip }}:5000</p>
               <p><img src="{{ qr_code }}"/></p>
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <div>
              <p>Remember to allow connections on port 5000</p>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <nav class="navbar navbar-default nice-background" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PYSENTEISHON</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li><a href="javascript:$('#connection-settings-modal').modal();" data-toggle="modal" data-target="#connection-settings-modal"><i class="fa fa-wifi"></i> Network settings</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="touche" class="row box">
      <div id="touche-directions" class="row">
        <i class="fa fa-arrow-circle-left fa-5x center-block"></i> <br>
      </div>
    </div>
    <div id="slide-msg" class"row">
      <center>
        <h3>Showing next slide!</h3>
        <div class="chronometer">
          <div class="row">
            <i class="fa fa-clock-o fa-5x center-block"></i> <br>
          </div>
          <div class="row">
            <div id="showtm" style="font-size:21px; font-weight:800;">0:0</div>
          </div>
        </div>
        <script type="text/javascript"><!--
        // chronometer / stopwatch JS script - coursesweb.net

        // Here set the minutes, seconds, and tenths-of-second when you want the chronometer to stop
        // If all these values are set to 0, the chronometer not stop automatically
        var stmints = 0;
        var stseconds = 0;
        var stzecsec = 0;

        // function to be executed when the chronometer stops
        function toAutoStop() {
          // alert('Your life goes on');
        }

        // the initial tenths-of-second, seconds, and minutes
        var zecsec = 0;
        var seconds = 0;
        var mints = 0;

        var startchron = 0;

        function chronometer() {
          if(startchron == 1) {
            zecsec += 1;       // set tenths of a second

            // set seconds
            if(zecsec > 9) {
              zecsec = 0;
              seconds += 1;
            }

            // set minutes
            if(seconds > 59) {
              seconds = 0;
              mints += 1;
            }

            // adds data in #showtm
            document.getElementById('showtm').innerHTML = mints+ ' : '+ seconds+ '<sub>'+ zecsec+ '</sub>';

            // if the chronometer reaches to the values for stop, calls whenChrStop(), else, auto-calls chronometer()
            if(zecsec == stzecsec && seconds == stseconds && mints == stmints) toAutoStop();
            else setTimeout("chronometer()", 100);
          }
        }

        chrRunning = false;

        function startChr() { chrRunning = true; startchron = 1; chronometer(); }      // starts the chronometer
        function stopChr() { chrRunning = false; startchron = 0; }                      // stops the chronometer
        function chrIsRunning(){
          return chrRunning;
        }
        function resetChr() {
          zecsec = 0;  seconds = 0; mints = 0; startchron = 0;
          document.getElementById('showtm').innerHTML = mints+ ' : '+ seconds+ '<sub>'+ zecsec+ '</sub>';
        }

        // start the chronometer, delete this line if you want to not automatically start the stopwatch
        // startChr();
        --></script>

      </center>
    </div>
  </div>
  <script src="/static/js/pysenteishon.js?a=3"></script>
</body>
</html>
