<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/main.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/jquery.touchSwipe.min.js"></script>
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div id="touche" class="row box">
        Open your smartphone and go to:
        {% for ip_address in ip_addresses %}
          <p>http://{{ ip_address }}:5000</p>
        {% endfor %}
      <div id="icons" class="row">
        <i class="fa fa-shield fa-rotate-270 fa-5x"></i> <br>
      </div>
    </div>
  </div>
  <script src="/static/pysenteishon.js"></script>
</body>
</html>
