body {
    background: black;
}

.box
{
    background: #337ab7; /* Old browsers */
    border-radius: 5px;
    box-shadow: 4px 4px 6px #1B3F5F;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
    color: #fff;
    padding: 1px;
}

.network-iface
{
    padding-left: 10px;
}

#touche {
    text-transform: uppercase;
}

#slide-msg {
    text-transform: uppercase;
    text-shadow: 0px 11px 0px rgba(150, 150, 150, 0.33);
}

#chronometer {
    text-align: center;
}


.clock {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 2px 2px 1px #000;
}

.time-left {
    height: 50px;
    line-height: 50px;
    font-size: 33px;
    text-shadow: 1px 1px 2px rgba(20, 50, 76, 0.8);
    color: #FF8080;
    cursor: pointer;
}

.time-left.stopped {
    color: #FF8080;
}

.time-left.running {
    color: #43F343;
}

#slider .fa {
    cursor: pointer;
    text-shadow: 2px 2px 1px #000;
    margin: 0 5px;
}
