.palette {
    blue-dark: #274E70;
    blue: #366D9D;
    blue-light: #5784AB;

    yellow-dark: #BB9400;
    yellow: #FFD535;
    yellow-light: #FFE480;
}

body {
    background: #FFD535;
}

.box {
    background: #5784AB;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #274E70;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
    color: #fff;
    padding: 14px 0;
}

.network-iface
{
    padding-left: 10px;
}
#qr-iface {
    text-align: center;
}
#qr-iface canvas,
#qr-iface img {
    display: inline-block;
}


#chronometer {
    text-align: center;
}


.clock {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.8);
}

.time-left {
    height: 50px;
    line-height: 50px;
    font-size: 33px;
    text-shadow: 0px 0px 14px #FFE480;
    color: #274E70;
    cursor: pointer;
}

.time-left.stopped {
    color: #274E70;
}

.time-left.running {
    color: #FFE480;
}

#slider .fa {
    cursor: pointer;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.8);
    margin: 0 5px;
}
#slider .fa:hover {
    color: #FFE480;
}
