.box
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 13%, #f1f1f1 24%, #e1e1e1 37%, #f1f1f1 48%, #e1e1e1 61%, #f1f1f1 85%, #f1f1f1 89%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(13%,#f1f1f1), color-stop(24%,#f1f1f1), color-stop(37%,#e1e1e1), color-stop(48%,#f1f1f1), color-stop(61%,#e1e1e1), color-stop(85%,#f1f1f1), color-stop(89%,#f1f1f1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* W3C */
    border-radius: 6px;
    box-shadow: 6px 6px 11px #c3c3c2;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-weight: 300;
    font-size: 20px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 10024px;
    line-height: 36px;
    overflow:hidden;
    padding: 10px;
    text-align:center;

}

.nice-background
{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 13%, #f1f1f1 24%, #e1e1e1 37%, #f1f1f1 48%, #e1e1e1 61%, #f1f1f1 85%, #f1f1f1 89%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(13%,#f1f1f1), color-stop(24%,#f1f1f1), color-stop(37%,#e1e1e1), color-stop(48%,#f1f1f1), color-stop(61%,#e1e1e1), color-stop(85%,#f1f1f1), color-stop(89%,#f1f1f1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 13%,#f1f1f1 24%,#e1e1e1 37%,#f1f1f1 48%,#e1e1e1 61%,#f1f1f1 85%,#f1f1f1 89%,#f6f6f6 100%); /* W3C */
    border-radius: 6px;
    box-shadow: 6px 6px 11px #c3c3c2;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.network-iface
{
    padding-left: 10px;
}

#touche {
    text-transform: uppercase;
}

#slide-msg {
    text-transform: uppercase;
    text-shadow: 0px 11px 0px rgba(150, 150, 150, 0.33);
}

#chronometer {
    text-align: center;
}