.palette {
    blue-dark: #274E70;
    blue: #366D9D;
    blue-light: #5784AB;
    blue-lighter: #6F9ABF;

    yellow-dark: #BB9400;
    yellow: #FFD535;
    yellow-light: #ffd966;
    yellow: #FFE480;
}

body {
    background: #FFEFFF;
}

.navbar {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.box {
    background: #5784AB;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #274E70;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
    color: #fff;
    padding: 14px 0;
}

#network-info {
    font-size: 20px;
}
.network-list li {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.network-list ul {
    list-style: none;
    padding-left: 0;
}
.network-list ul span {
    font-weight: bold;
    padding-right: 5px;
}

.network-list i {
    color: #6F9ABF;
    font-size: 25px;
    padding-left: 5px;
}

.network-qr {
    text-align: center;
}
.network-qr canvas {
    display: none !important;;
}
.network-qr img {
    display: inline-block !important;
}

#chronometer {
    text-align: center;
}

.clock {
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.8);
    transition: 0.5s all;
}
.clock:hover {
    color: #FFE480;
}

.time-left {
    height: 50px;
    line-height: 50px;
    font-size: 33px;
    text-shadow: 0px 0px 8px #6F9ABF;
    color: #274E70;
    cursor: pointer;
    transition: 0.5s all;
}

.time-left.running {
    color: #FFE480;
    text-shadow: 0px 0px 14px #FFE480;
}

#slider .fa {
    cursor: pointer;
    text-shadow: 0px 0px 7px rgba(0,0,0,0.8);
    margin: 0 5px;
    transition: 0.5s all;
}

#slider .fa:hover {
    color: #FFE480;
}

.toucharea{
    height: 80vh;
    max-height: 80vw;
    background: repeating-linear-gradient(
            -45deg,
            rgba(34, 34, 34, 0.15),
            rgba(34, 34, 34, 0.15) 10px,
            #5784ab 10px,
            #5784ab 20px
    );
}
